@model RegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
}

<div class="container-fluid">

    <h3>Üye Ol</h3>

    <hr />
    <form asp-controller="Authorize" data-ajax="true" asp-action="Register"
          data-ajax-begin="onBegin" data-ajax-failure="onFailure"
          data-ajax-success="onSuccess" id="loginForm" data-ajax-method="Post"
          class="form w-100" novalidate="novalidate">

        @Html.AntiForgeryToken()

        <table>
            <tr>
                <td colspan="3">
                    <div class="error-messages"></div>
                </td>
            </tr>
            <tr>
                <td><label asp-for="UserName"></label></td>
                <td><input asp-for="UserName" /></td>
                <td><span asp-validation-for="UserName"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input asp-for="Email" /></td>
                <td><span asp-validation-for="Email"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input asp-for="Password" /></td>
                <td><span asp-validation-for="Password"></span></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Üye Ol" /></td>
            </tr>
        </table>
    </form>

</div>