<!DOCTYPE html>

<html>
<head>
    <link href="~/css/libraries/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/libraries/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("css", false)
    <link href="~/css/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/js/libraries/jquery.min.js"></script>
    <script src="~/js/libraries/jquery.validate.min.js"></script>
    <script src="~/js/libraries/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/libraries/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/libraries/sweetalert2.min.js"></script>
    <script src="~/js/libraries/bootstrap.bundle.min.js"></script>
    @RenderSection("js", false)
    <script src="~/js/site.js"></script>
</body>
</html>
